


header{
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
}

menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.exit_door_btn{
    color: rgb(96, 51, 225);

}

.exit_door_btn > svg{
    height: 50px;
    width: 50px;
    cursor: pointer;
}





